.diagramBar {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

	&Inner {
		height: 100%;
		width: 20px;
		border: 1px solid var(--gray-200);
		border-radius: 4px;
		background-color: var(--gray-50);
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&Fill {
		background-color: var(--main-color-hover);
		width: 100%;
		transition: all 0.3s ease 0s;

	}

	&Label {
		margin-top: 5px;
		color: var(--gray-50);
		font-weight: 700;
		font-size: 12px;
		text-align: center;
	}
}