.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-top: 20px;
	background-color: var(--gray-400);
	color: var(--gray-50);
	border-radius: 4px;
	box-shadow: 0 2px 7px rgba(#000000, 0.5);

	&Btn {
		color: var(--gray-50);
		background-color: var(--gray-200);
		padding: 12px 25px;

	}
}