.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.input {
	border: none;
	padding: 8px 14px;
	border-radius: 4px;
	background-color: var(--gray-50);
	color: var(--gray-200);
	font-size: 14px;
	font-weight: 700;
	transition: all 0.3s ease 0s;
	box-shadow: 0 2px 7px rgba(#000000, 0.5);

	&:focus {
		outline: none;
		border: 1px solid var(--main-color-hover);
	}
}